/* ----- Input field general ----- */

.Component {
  position:    relative !important;
  box-sizing:  border-box;
  border:      1px solid black;
  cursor:      pointer;
  user-select: none !important;
}

.Component :global(.range-cursor) {
  position:         absolute !important;
  z-index:          100 !important;
  box-sizing:       border-box;
  border:           1px solid black;
  background-color: white;
  transform:        translate(-50%, -50%) !important;
}

/* ----- Horizontal range ----- */

.Component[data-vertical="false"] {
  grid-row-gap: 10px;
  width:        100%;
}

.Component[data-vertical="false"] {
  height: 6px;
}

.Component[data-vertical="false"] :global(.range-cursor) {
  width:  10px;
  height: 12px;
  top:    50% !important;
}

/* ----- Vertical range ----- */

.Component[data-vertical="true"] {
  grid-column-gap: 10px;
  height:          100%;
}

.Component[data-vertical="true"] {
  width: 6px;
}

.Component[data-vertical="true"] :global(.range-cursor) {
  width:  10px;
  height: 12px;
  left:   50% !important;
}

